* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;
}

:root {
    --corBotoesH2Texto: #FFAE00;
    --Borders: 10px;
}

body {
    background-image: url('/imagens/bg.png');
}

body::-webkit-scrollbar {
    width: 10px;
    /* Largura da barra de rolagem */
}

body::-webkit-scrollbar-track {
    background: rgba(55, 55, 55, 0.3);
    /* Cor da trilha da barra de rolagem */
    border-radius: 10px;
    /* Bordas arredondadas da trilha */
}

body::-webkit-scrollbar-thumb {
    background-color: rgba(37, 37, 37, 0.8);
    /* Cor do "polegar" da barra de rolagem */
    border-radius: 10px;
    /* Bordas arredondadas do polegar */
    border: 1px solid rgba(55, 55, 55, 0.3);
    /* Espaço ao redor do polegar */
}

header {
    background-color: #1E1F22;
    z-index: -2;
    text-align: center;
}

nav a {
    margin: 0px 10px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

h2 {
    color: var(--corBotoesH2Texto);
    text-align: center;
}

h1 {
    text-transform: uppercase;
    text-align: center;
}

.imagemProduto {
    width: 400px;
}

.boxProduto {
    background-color: rgba(37, 37, 37, 0.8);
    width: 850px;
    margin: 15px auto;
    border-radius: var(--Borders);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

/* .boxImagem,
.boxTexto {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
} */

.boxTexto {
    width: 400px;
}

h1,
h2,
h3,
button {
    margin: 10px 0px;
}

button {
    background-color: var(--corBotoesH2Texto);
    padding: 15px;
    border: none;
    border-radius: var(--Borders);
    width: 150px;
    cursor: pointer;
}